.map-img {
    text-align: center;
    margin: 20pt 0;
}

.map {
    text-align: center;
}

.map-img img {
    width: 90%;
    max-width: 900px;
    border: 6pt solid #303030;
    border-radius: 20pt;
}

.background {
    position: absolute;
    min-width: 100%;
    height: 100%;

    opacity: 0.35;

    top: -4%;
    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    z-index: -1;
}